<div class="product-card">
    <div class="product-card__image">
        <a href="{{ product.url }}" class="product-card__link">
            {% if product.featured_image %}
            <img 
                src="{{ product.featured_image | image_url: width: 300 }}" 
                alt="{{ product.title }}" 
                width="300" height="300"
                loading="lazy"

            >
            {% else %}
                <img 
                    src="{{ 'placeholder.jpg' | asset_url }}" 
                    alt="{{ product.title }}" 
                    width="300" height="300"
                    loading="lazy"
                >
            {% endif %}
        </a>

        {% if show_compare_at_price and product.compare_at_price > product.price %}
            <span class="product-card__badge">Sale</span>
        {% endif %}
    </div>

    <div class="product-card__details">
        <h2 class="product-card__title">{{ product.title }}</h2>

        {% if show_vendor %}
            <p class="product-card__vendor">{{ product.vendor }}</p>
        {% endif %}

        {% if show_price %}
            <p class="product-card__price">{{ product.price | money }}</p>
        {% endif %}

        {% if show_add_to_cart %}
            <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                <button type="submit" class="product-card__button">Add to cart</button>
            </form>
        {% endif %}
    </div>
</div>
